apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- base/projects/apps.yaml
- base/projects/core.yaml
- base/core/nginx.yaml
- base/core/argocd.yaml
- base/core/ingress.yaml
- base/apps/example.yaml
- base/utilities/reloader.yaml
- base/utilities/reflector.yaml
- base/utilities/descheduler.yaml
- https://raw.githubusercontent.com/argoproj/argo-cd/v2.8.0/manifests/install.yaml

components:
- https://github.com/argoproj-labs/argocd-extensions/manifests


namespace: argocd
images:
- name: quay.io/argoproj/argocd
  newTag: v2.8.0

commonAnnotations:
  reloader.stakater.com/auto: "true"
patches:
- path: overlay/argocd-svc.yaml
- path: overlay/argocd-rbac.yaml
- path: overlay/argocd-cm.yaml
- path: overlay/argocd-cr.yaml
